nav {
  font-family: Tahoma;
  font-size: 16px;
}
#title h1 {
  font-family: Ubuntu;
  text-align: center;
}
#welcome h2 {
  font-family: Ubuntu;
  text-align: center;
}
@font-face {
  font-family: Ubuntu;
  src: url(Ubuntu-R.ttf)
}
body p {
  font-family: Arial;
}
